package layout

import (
	coreui "nishojib/gotrello/ui/html/core"
)

templ App() {
	@Main(false) {
		<div class="grid gap-y-2 grid-rows-[3rem_1.875rem_auto] bg-default">
			@coreui.AppNavigation()
			{ children... }
		</div>
	}
}
