package coreui

templ Logo() {
	<div class="text-xl font-bold text-center transition-colors cursor-pointer text-primary whitespace-nowrap">
		<h1><i class="mr-1 fab fa-trello" aria-hidden="true"></i>goTrello</h1>
	</div>
}
