package coreui

templ SettingsNavigation() {
	<section class="menu">
		<h4 class="flex items-center gap-2 menu-title">
			<i class="size-4 fa-solid fa-circle-user"></i>
			<span>My Account</span>
		</h4>
		<ul>
			<li class="pl-8">
				<a href="/settings/profile" class="pl-2">
					<span>Profile</span>
				</a>
			</li>
		</ul>
	</section>
}
